[submodule "inge.4pr.es/themes/minimo"]
	path = inge.4pr.es/themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "inge.4pr.es/themes/uBlogger"]
	path = inge.4pr.es/themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
