#!/bin/bash
yum update -y
yum install -y aws-cli jq git
aws configure set preview.cloudfront true

# Install Golang
export HOME=/root
wget -O ./goinstall.sh https://raw.githubusercontent.com/canha/golang-tools-install-script/master/goinstall.sh
chmod +x ./goinstall.sh
./goinstall.sh --64
source $HOME/.bashrc
# Prepare lego
mkdir $HOME/.lego
aws s3 sync s3://${domain}-lego-account/ $HOME/.lego/ --region ${region}
$HOME/.go/bin/go get -u github.com/xenolf/lego
# Renew cert
$HOME/go/bin/lego --email="${email}" --domains="${domain}" --domains="${san}" --dns="route53" --path $HOME/.lego renew
# Install cert on AWS
today=`date +%Y%d%m`
aws iam upload-server-certificate --server-certificate-name $${today}-cf-${domain} --certificate-body file://$HOME/.lego/certificates/${domain}.crt --private-key file://$HOME/.lego/certificates/${domain}.key --path /cloudfront/inge4pres/ > upload-output.txt
# Update Cert on API GW
# aws apigateway update-domain-name --domain-name ${domain} --patch-operations op='replace',path='/certificateName',value='/cloudfront/inge4pres/$${today}-cf-${domain}'

#aws cloudfront get-distribution-config --id ${cf_id} > CF_config_${cf_id}.json
#certid=$(cat upload-output.txt | jq -rc .ServerCertificateMetadata.ServerCertificateId)
#cat CF_config_${cf_id} | jq --arg CERTID $${certid} '.DistributionConfig.ViewerCertificate.IAMCertificateId |= $${certid}' | jq --arg CERTID $${certid} '.DistributionConfig.ViewerCertificate.Certificate |= $CERTID' > CF_config_update_${cf_id}.json
   
#aws cloudfront update-distribution --distribution-config file://CF_config_update_${cf_id}.json --id ${cf_id}
