#!/bin/bash
yum update -y
yum install -y aws-cli

# Install Lego https://github.com/xenolf/lego
export HOME=/root
wget -O $HOME/lego_linux_amd64.tar.xz https://github.com/xenolf/lego/releases/download/v0.4.0/lego_linux_amd64.tar.xz
tar xJf $HOME/lego_linux_amd64.tar.xz
mv lego_linux_amd64 /usr/bin/lego

# Prepare lego account
mkdir $HOME/.lego
aws s3 sync s3://${domain}-lego-account/ $HOME/.lego/ --region ${region}

# Renew cert
/usr/bin/lego --email="${email}" --domains="${domain}" --domains="${san}" --dns="route53" --path $HOME/.lego renew

# sync lego account back to S3
aws s3 sync $HOME/.lego/ s3://4pr.es-lego-account/ --region ${region}

# Split certificates
csplit -f ${domain}.crt- $HOME/.lego/certificates/${domain}.crt '/-----BEGIN CERTIFICATE-----/' '{*}'

# Replace on ACM
# using us-east-1 as API Gateway only can integrate certs from there
aws acm import-certificate --certificate-arn "${certificate_arn}" \
  --private-key file://$HOME/.lego/certificates/4pr.es.key --certificate file://4pr.es.crt-01 \
  --certificate-chain file://4pr.es.crt-02 \
  --region us-east-1
