#!/bin/bash
yum update -y
yum install -y python-pip golang jq
pip install --upgrade pip
pip install awscli
aws configure set preview.cloudfront true
mkdir $HOME/golang $HOME/.lego

aws sync s3://${domain}-lego-account/ $HOME/.lego/

export GOPATH=$HOME/golang
export PATH=$PATH:$GOPATH/bin
go get -u github.com/xenolf/lego

lego --email="${email}" --domains="${domain}" --domains="${san}" --dns="route53" --path $HOME/.lego renew


